@model ProjCotacaoFreteP2.frete

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>frete</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigo_rastreio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigo_rastreio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_postagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_postagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cotacao.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cotacao.valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
